<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModeIdentifier</key>
	<string>SEEMode.Textpattern</string>
	<key>SearchURLString</key>
	<string>http://textbook.textpattern.net/wiki/index.php?search=*</string>
	<key>Title</key>
	<string>Textpattern</string>
	<key>URLString</key>
	<string>http://textbook.textpattern.net/wiki/index.php?title=Category:Tag_Reference</string>
</dict>
</plist>
